/* Estilos comunes */
.content-container {
  padding: 16px;
}

/* Invoice container */
.invoice-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Section headers */
.invoice-details h2,
.order-details h3,
.price-summary h3 {
  margin-bottom: 10px;
  color: #333;
}

/* Invoice details */
.invoice-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px; /* Ajusta el ancho del menú lateral */
}

mat-sidenav-content {
  transition: margin 0.3s ease; /* Suaviza el ajuste del contenido */
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.filter-container label {
  font-weight: bold;
}

.filter-container input,
.filter-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Order details table */
.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.invoice-table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-table tr:hover {
  background-color: #ddd;
}

/* Price summary */
.price-summary p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

button {
  margin: 5px 0;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Print button */
.print-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.print-button:hover {
  background-color: #218838;
}